.tabs-base {
  ul.nav-tabs {
    width: 100%;
    padding-top: 5px;
    margin-bottom: 15px;
    background-color: white;
    z-index: 2;

    li {
      a {
        cursor: pointer;
        font-weight: 400;
        font-size: 1.1rem;

        &.active {
          font-weight: 700;
        }
      }
    }

    .nav-link {
      padding: 5px 10px;
      font-size: 0.9rem;
    }
  }

  .tab-component-base {
    top: 40px;
    position: fixed;
    height: calc(100vh - 40px);
    overflow: auto;
    width: 100%;

    .tab-component {
      position: absolute;
      width: 100%;

      &.show {
        display: initial;
      }

      &.hide {
        display: none;
      }
    }
  }
}
