.tabs-base {
  ul.nav-tabs {
    width: 100%;
    padding-top: 5px;
    margin-bottom: 15px;
    background-color: #f0f0f0;
    z-index: 2;

    li {
      .tab-title {
        font-weight: 400;
        font-size: 1.1rem;
        box-shadow: 0 0 5px grey;
        background-color: #f2f2f2;
        margin: 2px 4px 0 4px;

        .nav-link {
          padding: 5px 10px;
          font-size: 0.9rem;
        }

        a {
          color: #333333a8;
          &:hover {
            text-decoration: none;
            color: #333333a8;
          }
        }

        &.active {
          font-weight: 700;
          background-color: white;
          box-shadow: none;
          padding-bottom: 15px;
          margin-bottom: 0;
          color: #666666;
          a {
            color: #666666;
          }
        }
      }
    }
  }

  .tab-component-base {
    top: 60px;
    position: fixed;
    height: calc(100vh - 40px);
    overflow: auto;
    width: 100%;
    background-color: white;

    .tab-component {
      position: absolute;
      width: 100%;

      &.show {
        display: initial;
      }

      &.hide {
        display: none;
      }
    }
  }
}
